<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Análise de TCC</title>
</head>
<body>
    <header><h1>Portal de Análise de TCC</h1></header>
    <div class="container">
        <h2>Bem-vindo, Aluno!</h2>
        <p>Clique no botão abaixo para registrar seu chamado e solicitar a análise do seu trabalho.</p>
        <a href="/cadastro"><button>Registrar Novo Chamado</button></a>
        <hr>
        <a href="/login" class="btn-admin">Acesso Administrativo</a>
    </div>
</body>
</html>