<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>
<body>
    <form action="/dashboard" method="post">
        <input type="text" name="usuario" placeholder="Usuário" required>
        <input type="text" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar no Painel</button>
    </form>
</body>
</html>